<nav>
  <a href="/"> Home </a>
  <a href="/company">  Company History </a>
  <a href="/contact-us"> Contact Us </a>
  <a href="/staff">  Staff List </a>
  <a href="/staff/search"> Staff Search </a>
  <a href="/pastwork"> Full List Of Games </a>
  <a href="/pastwork/action"> Action </a>
  <a href="/pastwork/adventure">  Adventure </a>
  <a href="/pastwork/strategy">  Strategy </a>
  <a href="/pastwork/sports">  Sports </a>
  <a href="/links"> External Links </a>
</nav>
